<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mario's Shoes</title>
    <h1>My Shoe Collection</h1>
    <nav>
      <a href="/shoecollection/new">Add a New Pair of Shoes</a>
    </nav>
  </head>
  <body>
    <div>
    <% shoe.forEach(allShoes => { %>
      <li>
        <form action="/shoecollection/<%= allShoes._id %>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE">
        </form>
        <a href="/shoecollection/<%=allShoes._id %>/edit">Edit</a>
      </li>
        <img src="<%=allShoes.image %>" alt="<%= allShoes.image %>"></a>
        <p>Price: </p>
        <p><%=allShoes.price; %></p>
        <p>Brand:</p>
        <p><%=allShoes.brand; %></p>
        <% }) %>
      </div>
  </body>
</html>